body {
    font-size: 17px;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
}

/* paddings */
.p-1 {
    padding: 2rem;
}

.px-1 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}


/* margins */
.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 2rem;
}

.mx-1 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mt-1 {
    margin-left: 2rem;
    margin-right: 2rem;
}


.login {
    background-color: grey;
    border: 5px;
    color: white;
    padding: 10px 22px;
    margin: 20px 60px;
}


#loginForm {
    width: 320px;
} 



